document{
    background-color: red;
}

#container{
    background-color: black;
    margin-left: 100px;
    margin-right: 100px;
    height: 500px;
    text-align: center;
    margin-top: 100px;
    padding-top: 75px;
    border-radius: 90px;
}

h1 {
    color: white;
    font-size: 50px;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-size: 20px;
    color: white;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;

}

button {
    border: none;
    font-weight: bold;
    border-radius: 8px;
    margin: 5px;
    height: 25px;
    width: 75px;
    font-family: 'Courier New', Courier, monospace;
}

.easy-button{
    background-color: rgb(90, 240, 90);
}

.medium-button{
    background-color: rgb(232, 177, 75);
}

.hard-button {
    background-color: rgb(223, 64, 64);
}

.question-container{
    /* border: solid 2px red; */
}

.question {
    font-size: 75px;
    color:white;
}

.answer-container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px;
}

.answer-box {
    background-color: rgb(40, 241, 231);
    border: solid 1px white;
    border-radius: 18px;
}

.ans {
    margin: 35px;
    font-size: 40px;
}

p {
    color: white;
}

a {
    color: white;
    margin-top: auto;
}





